.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#canvas
{
   border-width:10px ;
   border-style:ridge ;
   border-color:gold ;
   background-color:cyan ;
}

